body {
	font-family: arial;

}

#notification-container {
	
}

.container {
	/*text-align: center;*/
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	background-color: #f6f6f6;
}

h3 {
	text-align: center;
}

form {
	padding: 10px;
}